streamlit

langchain
langgraph

langchain-groq
langchain-community
langchain-chroma
langchain-text-splitters
chromadb

sentence-transformers
langchain-huggingface

pydantic
python-dotenv

pypdf
beautifulsoup4
lxml

requests

pytest
ruff
black