streamlit

langchain
langgraph
langchain-core
langchain-groq
langchain-community
langchain-chroma
langchain-text-splitters
chromadb
langgraph
langgraph-checkpoint
sentence-transformers
langchain-huggingface

pydantic
python-dotenv

pypdf
beautifulsoup4
lxml

requests

pytest
ruff
black