streamlit

langchain
langgraph

langchain-google-genai
langchain-community
langchain-chroma

chromadb

pydantic
python-dotenv

sentence-transformers

pypdf
beautifulsoup4

tiktoken

requests

pytest
ruff
black